In [2]:
from pathlib import Path
import os
import json
import pandas as pd
import numpy as np
from google.cloud import storage

## Get classes from folder names

In [3]:
client = storage.Client()
bucket = client.get_bucket('storage_4')
blob = bucket.blob('training_data')
blobs = bucket.list_blobs(prefix="training_data")

json_dict = {}
for blob in blobs:
    file_path = blob.name
    file_name = file_path.split("/")[-1]
    if (file_name.endswith(".jpg") or file_name.endswith(".JPG")):
        p = file_path.split('/')
        json_dict[p[-1]]=p[-2]

In [4]:
print('There are {} images in the json.'.format(len(json_dict)))

There are 969 images in the json.

## Create Data Frame

In [5]:
json_df = pd.DataFrame.from_dict(json_dict, orient='index').reset_index()
json_df.columns = ["image", "y_true"]
json_df = json_df.set_index("image")

# json_df.columns = ["image", "multi_class_label"]
# json_df["binary_label"] = np.where(json_df['multi_class_label'] == 'crystal', 
#                                    'crystal', 
#                                    'no_crystal')

In [6]:
json_df

                       y_true
image
c_image (14).jpg      crystal
c_image (284).jpg     crystal
c_image (286).jpg     crystal
c_image (289).jpg     crystal
c_image (290).jpg     crystal
...                       ...
no_c_ps (5).jpg    no_crystal
no_c_ps (6).jpg    no_crystal
no_c_ps (7).jpg    no_crystal
no_c_ps (8).jpg    no_crystal
no_c_ps (9).jpg    no_crystal

[969 rows x 1 columns]

# Save JSON

In [7]:
target = "/home/jupyter/Training/image_labels.json"
json_df.to_json(path_or_buf=target)

# Load JSON

In [8]:
df_json = pd.read_json(target)

In [9]:
df_json.head()

                    y_true
c_image (14).jpg   crystal
c_image (284).jpg  crystal
c_image (286).jpg  crystal
c_image (289).jpg  crystal
c_image (290).jpg  crystal